@import "../../../styles/font-mixins.scss";
@import "../../../styles/colors.scss";


.hero {
  background-color: $color-blue-very-light;
  
  // ... (Alle andere 'hero--...' secties blijven ongewijzigd) ...

  &--purple {
    @extend .hero;
    background-color: $color-purple-very-light;
  }

  &__container {
    // ... (Ongewijzigd) ...
  }

  &__title-group {
    // ... (Ongewijzigd) ...
  }

  &__tag {
    margin-bottom: 5px;
    @include type-name-font($color-grey-normal);
    // Hier is de 'tag' tekst. Wil je deze ook oranje-geel? 
    // Zo ja, verander de regel hierboven naar:
    // @include type-name-font($color-frit-orange-yellow);
  }

  &__title {
    margin-bottom: 10px;
    @include main-title-font;

    /* --- START AANGEPASTE STIJLEN --- */
    // Overschrijft de font-family van de mixin met een 'normaal' lettertype
    font-family: Arial, Helvetica, sans-serif;
    // Zet de kleur op oranje-geel (moet gedefinieerd zijn in colors.scss)
    color: $color-frit-orange-yellow; 
    /* --- EIND AANGEPASTE STIJLEN --- */

    &--no-media {
      @extend .hero__title;
    }
    
    &--highlighted {
      @extend .hero__title;
      // Zorg ervoor dat de 'highlighted' versies ook de nieuwe kleur krijgen,
      // tenzij je wilt dat de highlighted kleuren de oranje-gele kleur overschrijven.
      // Als je wilt dat deze highlighted kleuren blijven werken, moet je dit weglaten.
      
      // Optie 1: Overschrijf de highlighted kleur (gebruik #FFC300)
      // color: $color-frit-orange-yellow; 
      
      // Optie 2: Hou de oorspronkelijke highlighted kleur (gebruik $color-blue-normal)
      color: $color-blue-normal; // Laat dit staan als de highlighted kleur anders moet zijn
      
      &--blue {
        @extend .hero__title--highlighted;
        color: $color-blue-normal;
      }
      // ... (Alle andere highlighted kleuren blijven ongewijzigd) ...
    }
  }

  &__subtitle {
    margin-bottom: 30px;
    @include text-font;

    /* --- START AANGEPASTE STIJLEN --- */
    // Overschrijft de font-family van de mixin met een 'normaal' lettertype
    font-family: Arial, Helvetica, sans-serif;
    // Zet de kleur op oranje-geel (moet gedefinieerd zijn in colors.scss)
    color: $color-frit-orange-yellow; 
    /* --- EIND AANGEPASTE STIJLEN --- */

    &--no-media {
      @extend .hero__subtitle;
    }
  }

  // ... (De rest van het bestand blijft ongewijzigd) ...
}